# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/workspace-pc_uni.xml
.idea/.name
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries/Patrick.xml
.idea/dataSources.local.xml
.idea/encodings.xml
.idea/modules.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/sqldialects.xml
.idea/vcs.xml
.idea/Wikigame_Websocket.iml
.idea/workspace-PatrickKasperPC-2.xml
.idea/workspace-PatrickKasperPC-3.xml
.idea/workspace-PatrickKasperPC.xml
.idea/workspace.xml
*.pyc
.idea/dataSources-pc_uni.xml
.idea/dataSources.local-pc_uni.xml
.idea/encodings-pc_uni.xml
.idea/misc-PatrickKasperPC.xml
.idea/modules-pc_uni.xml
.idea/sqldialects-PatrickKasperPC.xml
.idea/vcs-pc_uni.xml
.idea/workspace-PatrickKasperPC-2-pc_uni.xml
.idea/workspace-PatrickKasperPC-3-pc_uni.xml
.idea/workspace-PatrickKasperPC-pc_uni.xml
.idea/workspace-pc_uni-PatrickKasperPC.xml